<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>entity</key>
		<string>TRMember</string>
		<key>attributes</key>
		<dict>
			<key>bio</key>
			<string>bio</string>
			<key>fullName</key>
			<string>fullName</string>
			<key>initials</key>
			<string>initials</string>
			<key>url</key>
			<string>url</string>
			<key>username</key>
			<string>username</string>
			<key>id</key>
			<string>identifier</string>
			<key>idBoards</key>
			<string>idBoards</string>
		</dict>
		<key>relationships</key>
		<array>
			<dict>
				<key>relationship</key>
				<string>boards</string>
				<key>destinationEntity</key>
				<string>TRBoard</string>
			</dict>
		</array>
		<key>identificationAttributes</key>
		<array>
			<string>identifier</string>
		</array>
		<key>responseDescriptors</key>
		<array>
			<dict>
				<key>pathPattern</key>
				<string>members/me</string>
				<key>requestMethod</key>
				<string>GET</string>
			</dict>
			<dict>
				<key>pathPattern</key>
				<string>members/:identifier</string>
				<key>requestMethod</key>
				<string>GET</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>entity</key>
		<string>TRBoard</string>
		<key>attributes</key>
		<dict>
			<key>name</key>
			<string>name</string>
			<key>desc</key>
			<string>desc</string>
			<key>pinned</key>
			<string>pinned</string>
			<key>url</key>
			<string>url</string>
			<key>closed</key>
			<string>closed</string>
			<key>id</key>
			<string>identifier</string>
		</dict>
		<key>relationships</key>
		<array>
			<dict>
				<key>relationship</key>
				<string>members</string>
				<key>destinationEntity</key>
				<string>TRMember</string>
			</dict>
		</array>
		<key>identificationAttributes</key>
		<array>
			<string>identifier</string>
		</array>
		<key>responseDescriptors</key>
		<array>
			<dict>
				<key>pathPattern</key>
				<string>boards/:identifier</string>
				<key>requestMethod</key>
				<string>GET</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
